.nav-menu {
  box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.5) !important;
  font-size: 14px;
  margin-bottom: 50px !important;
  background: #222;
  border-radius: 0;
  border: 0;
}

.ui.menu .item {
  background: #c22327 !important;
  color: #FFF;
  border-radius: 0;
}

a {
  font-family: Roboto, sans-serif;
  text-align: left;
  padding: 0;
  margin: 0;
  font-weight: 300;
  word-break: keep-all;
}

.ui[class*="top right attached"].label {
  border-radius: 0;
}
