<div class="ui menu nav-menu">
  <a class="item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/" suiPopup
    popupInverted popupText="BACKBASE">
    <i class="fa fa-home pad-r-5"></i> BACKBASE
  </a>

  <div class="right menu">
    <div class="ui top right attached mini label" suiPopup popupInverted popupPlacement="left" popupText="Version">{{ version }}</div>
  </div>
</div>
