<div class="ui two column centered grid">
  <div class="column">

    <div class="ui raised segment">
      <a class="ui red ribbon label">Forecast for the next hours</a>

      <div class="ui very relaxed divided list">

        <a class="item">

          <div class="right floated content">
            <button class="circular ui icon mini button" (click)="onBack()" suiPopup popupInverted popupText="Back">
              <i class="icon angle left"></i>
            </button>
          </div>

          <i class="cloud icon"></i>

          <div class="content">
            <a class="header">
              {{ forecastDetail.city.name }}, {{forecastDetail.city.country }}
            </a>
            <div class="description">

              <!-- <div *ngFor="let forecastItem of forecastDetail.list | slice:0:5 ">

                <a class="ui blue image tiny label" suiPopup popupInverted popupText="Degree">
                  {{ forecastItem.main.temp }} °F
                  <div class="detail">{{ forecastItem.dt_txt | date: 'dd/MM/yyyy HH:mm' }}</div>
                </a>

                <a class="ui blue mini label" suiPopup popupInverted popupText="Wind speed">
                  {{ forecastItem.wind.speed }}
                  <div class="detail">m/s</div>
                </a>
                <span class="pad-l-10">{{ forecastItem.weather[0].main }}</span>

              </div> -->
              <div class="ui grid">
                <div class="five column row">
                  <div class="column" *ngFor="let forecastItem of forecastDetail.list | slice:0:5 ">
                    <div class="ui raised segment">
                      <h4 class="ui header">
                        {{ forecastItem.main.temp }} °F
                      </h4>

                      <p suiPopup popupInverted popupText="{{ forecastItem.dt_txt | date: 'dd/MM/yy HH:mm' }}">
                        {{ forecastItem.dt_txt | date: 'HH:mm' }}
                      </p>

                      <a class="ui blue tiny label" suiPopup popupInverted popupText="Wind speed">
                        {{ forecastItem.wind.speed }}
                        <div class="detail">m/s</div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>

      </div>
    </div>
  </div>
</div>
