<div class="ui two column centered grid">
  <div class="column">

    <div class="ui raised segment">
      <a class="ui red ribbon label">Weather</a>

      <div class="ui very relaxed divided animated selection list">

        <a class="item" *ngFor="let weatherItem of weatherList" (click)="onDetails(weatherItem)">
          <div class="right floated content">
            <button class="ui basic mini button" suiPopup popupInverted popupText="View details">
              Details
            </button>
		  </div>
		  
          <i class="cloud icon"></i>

          <div class="content">
            <a class="header">
              {{ weatherItem.name }}, {{weatherItem.sys.country }}
            </a>
            <div class="description">
              <a class="ui blue tiny label" suiPopup popupInverted popupText="Degree">
                {{ weatherItem.main.temp }} °F
                <div class="detail">now</div>
              </a>

              <a class="ui blue tiny label" suiPopup popupInverted popupText="Wind speed">
                {{ weatherItem.wind.speed }}
                <div class="detail">m/s</div>
              </a>
              <span class="pad-l-10">{{ weatherItem.weather[0].main }}</span>
            </div>
          </div>
        </a>

      </div>
    </div>
  </div>
</div>
