/* You can add global styles to this file, and also import other style files */

body {
  background-color: #F4F4F4;
  font-size: 13px;
  font-family: Helvetica Neue, Helvetica, Arial, Sans-Serif;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin-top: 10px;
}

.ui.popup {
  font-size: 0.7rem;
}

.ui.ribbon.label {
  margin-bottom: 5px;
}

.ui.red.label,
.ui.red.labels .label {
  background-color: #c22327 !important;
}

/* .ui.popup {
  font-size: 0.8rem;
} */



.pad-l-10 {
  padding-left: 10px;
}
